.margin-right {
	margin-right: 3px;
}

.margin-left {
	margin-left: 3px;
}
.user-inputs {
	width: 100% !important;
}

.danger {
	border-color: red !important;
	/* border-width: medium !important; */
}

.full-width {
	width: 100% !important;
}
